
## Task

### Analyze the given csv file having product_category,sales_amount as columns 
### find out total number of sales per category
### find out avg sales amount for each category

In [ ]:
import pandas as pd
file_url="https://github.com/PavanKumarYarramsetti/spark-practice/blob/main/sales_dataset.csv?raw=true"
df = pd.read_csv(file_url)
df.head(10)

,product_category,sales_amount
0,Electronics,100
1,Clothing,50
2,Electronics,150
3,Clothing,75
4,Books,200
5,Electronics,120
6,Books,150
7,Books,80
8,Clothing,90
9,Beauty,60

In [ ]:
df1 = spark.createDataFrame(df)
df1.show()

+----------------+------------+
|product_category|sales_amount|
+----------------+------------+
|     Electronics|         100|
|        Clothing|          50|
|     Electronics|         150|
|        Clothing|          75|
|           Books|         200|
|     Electronics|         120|
|           Books|         150|
|           Books|          80|
|        Clothing|          90|
|          Beauty|          60|
|     Electronics|         180|
|           Books|         100|
|        Clothing|         120|
|          Beauty|          80|
|     Electronics|         200|
|           Books|         130|
|     Electronics|         150|
|        Clothing|          90|
|          Beauty|          70|
|           Books|         110|
+----------------+------------+
only showing top 20 rows

In [ ]:
# Sales per category
df1.groupBy("product_category").count().show()

+----------------+-----+
|product_category|count|
+----------------+-----+
|     Electronics|   21|
|        Clothing|   20|
|           Books|   20|
|          Beauty|   18|
+----------------+-----+

In [ ]:
#Avg sales per category
from pyspark.sql.functions import avg,sum

df1.groupBy("product_category").agg(avg("sales_amount")).show()

+----------------+-----------------+
|product_category|avg(sales_amount)|
+----------------+-----------------+
|     Electronics|273.3333333333333|
|        Clothing|           163.25|
|           Books|            203.0|
|          Beauty|            145.0|
+----------------+-----------------+

In [ ]:
df1.groupBy("product_category").agg(sum("sales_amount")).show()

+----------------+-----------------+
|product_category|sum(sales_amount)|
+----------------+-----------------+
|     Electronics|             5740|
|        Clothing|             3265|
|           Books|             4060|
|          Beauty|             2610|
+----------------+-----------------+